{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="titre-dev">
        <p id="typewriter">Développeur Web Symfony.</p>
        <button class="button-cv" type="button"><a href="{{ asset('build/cv.pdf') }}">Voir mon CV</a></button>
    </div>

    <h1>Projets</h1>

    </div>

    <div id="container">

        <div class="product-details">

            <h1>Marathon Web</h1>

            <p class="information">Création d'un site web en deux jours. Nous avons réalisé le back-end et le frond-end. Le site était un site de gestion de série. </p>

            <div class="control">

                <button class="btn">
                    <span class="price">Code</span>
                    <span class="shopping-cart"><i class="fa fa-ban" aria-hidden="true"></i></span>
                    <span class="buy">Github</span>
                </button>

            </div>

        </div>

        <div class="product-image">

            <img src="{{ asset('build/images/marathon.png') }}" class="marathon">

            <div class="info">
                <h2>Compétence</h2>
                <ul>
                    <li>PHP, Laravel</li>
                    <li>Utilisation de Git</li>
                    <li>Front-end & Back-end</li>
                    <li>Communication</li>
                </ul>
            </div>
        </div>

    </div>

    </div>

    <div id="container">

        <div class="product-details">

            <h1>Porfolio</h1>

            <p class="information">Portfolio avec tous mes projets et des informations sur moi.</p>

            <div class="control">

                <button class="btn"><a href="https://github.com/allanpon/portfolio">
                    <span class="price">Code</span>
                    <span class="shopping-cart"><i class="fab fa-github" aria-hidden="true"></i></span>
                    <span class="buy">Github</span>
                    </a></button>

            </div>

        </div>

        <div class="product-image">

            <img src="{{ asset('build/images/portfolio.png') }}" class="portfolio">

            <div class="info">
                <h2>Compétences</h2>
                <ul>
                    <li>PHP, Symfony</li>
                    <li>HTML, CSS, Javascript</li>
                    <li>Hébergement de site web</li>
                </ul>
            </div>
        </div>

    </div>

    </div>

    <div id="container">

        <div class="product-details">

            <h1>Labyrinthe</h1>

            <p class="information">Jeu de labyrinthe réalisé en équipe. Codé en Java en utilisant une librarie graphique.</p>

            <div class="control">

                <button class="btn"><a href="https://github.com/allanpon/labyrinthe">
                    <span class="price">Code</span>
                    <span class="shopping-cart"><i class="fab fa-github" aria-hidden="true"></i></span>
                    <span class="buy">Github</span>
                    </a></button>

            </div>

        </div>

        <div class="product-image">

            <img src="{{ asset('build/images/labyrinthe.gif') }}" class="labyrinthe">

            <div class="info">
                <h2>Compétences</h2>
                <ul>
                    <li>Communication</li>
                    <li>Travail d'équipe</li>
                    <li>Java, POO</li>
                    <li>Git</li>
                    <li>Planification de projet</li>
                </ul>
            </div>
        </div>

    </div>

    </div>

    <div id="container">

        <div class="product-details">

            <h1>Sokoban</h1>

            <p class="information">Clone de Sokoban réalisé en équipe. Codé en Python en utilisant la librairie PyQt 5. </p>

            <div class="control">

                <button class="btn"><a href="https://github.com/allanpon/sokoban">
                    <span class="price">Code</span>
                    <span class="shopping-cart"><i class="fab fa-github" aria-hidden="true"></i></span>
                    <span class="buy">Github</span>
                    </a></button>

            </div>

        </div>

        <div class="product-image">

            <img src="{{ asset('build/images/sokoban.gif') }}" class="sokoban">

            <div class="info">
                <h2>Compétences</h2>
                <ul>
                    <li>Algorithmie</li>
                    <li>Python</li>
                    <li>Utilisation d'une librairie</li>
                    <li>Planification de projet</li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
