<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <section class="footer">
        <hr class="solid">

        <div class="social">
            <a href="https://www.linkedin.com/in/allanpon/"><i class="fab fa-linkedin coloricon"></i></a>
            <p>•</p>
            <a href="https://github.com/allanpon/"><i class="fab fa-github coloricon"></i></a>
        </div>

        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><p>•</p></li>
            <li><a href="{{ path('about') }}">A Propos</a></li>
            <li><p>•</p></li>
            <li><a href="{{ path('contact') }}">Contact</a></li>
        </ul>

        <ul>
            <li><a href="mailto:allanponchaut2@gmail.com">allanponchaut2@gmail.com</a></li>
            <li><p>07 49 41 71 41</p></li>
        </ul>
        <p class="copyright"> Copyright © Allan Ponchaut 2021-<script>document.write(new Date().getFullYear())</script></p>
    </section>
{% endblock %}
</body>
</html>